.Weather form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.btn-icon {
  background: none;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #35a56d;
  font-size: 20px;
  display: inline-block;
}

.Weather-information {
  margin-top: 25px;
}

.WeatherForecastDay {
  padding: 10px;
}

.WeatherForecast-temp-max {
  font-weight: bold;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}

ul {
  list-style: none;
}

.temperature {
  font-size: 30px;
}

.unit {
  font-size: 14px;
  position: absolute;
}
