.Weather-wrapper {
  text-align: center;
  margin: 150px 100px 150px 100px;
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
}

.Weather-wrapper form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.Weather-wrapper .btn {
  background: #885df1;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
  width: 100px;
}

.Weather-information {
  margin-top: 25px;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}

ul {
  list-style: none;
}

.temperature {
  font-size: 30px;
}

.unit {
  font-size: 15px;
}
